.workbench {
  background-color: rgba(255,255,255, 0.75);
  width: 350px;
  margin-left: 100px;
  top: 50px;
  left: 500px;
  position: absolute;
  padding-bottom: 20px;
}

.close-button span {
  position: absolute;
  right: 10px;
  color: rgba(0,0,0,0.9) !important;
  font-size:24pt !important;
}