.inventory {
  background-color: rgba(255,255,255, 0.75);
  width: 555px;
  transform: translateX(-500px);
  -webkit-transform: translateX(-500px);
  left: 0;
  top: 50px;
  position: absolute;
  padding-bottom: 15px;
}