.item {
  position: relative;
  width: 100px;
  height: 110px;
  background-color: white;
  text-align: left;
}

.item-name {
  font-size: 11pt;
}

.item-body {
  height: 89px;
  background-color: lightgreen;
  border: 4px solid white;
}

.item-quantity {
  position: absolute;
  font-size: 14pt;
  bottom: 5px;
  right: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 1.5px 2px 5px black;
}

.slot {
  width: 100px;
  height: 110px;
  margin: 2px;
  background-color: rgba(50, 50, 50, 0.1)
}